<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="menu col-lg-6 mt-2 mb-2">
        <div class="col-lg-3">
            <form method="GET" th:action="@{/}">
                <button type="submit" class="btn btn-primary btn-sm">Document List</button>
            </form>

        </div>
        <div class="col-lg-3">
            <form method="GET" th:action="@{/taskList}">
                <button type="submit" class="btn btn-primary btn-sm">Task List</button>
            </form>
        </div>
    </div>
    <div class="upload-content">
        <h3>Choose File To Upload</h3>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select File</label>
                <input type="file" name="file" id="file" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </div>
    <div class="document-list">

    </div>
    <h3>Documents</h3>
    <table class="table" th:if="${not #lists.isEmpty(documentList)}">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr data-th-each="doc : ${documentList}">
            <td data-th-text="${doc.id}"></td>
            <td data-th-text="${doc.name}"></td>
            <td data-th-text="${doc.description}"></td>
            <td th:if="${doc.status == 1}">WAITING</td>
            <td th:if="${doc.status == 2}">APPROVED</td>
            <td th:if="${doc.status == 3}">REJECTED</td>
            <td>
                <div class="col-lg-3">
                    <form method="POST" th:action="@{/download}">
                        <button type="submit" class="btn btn-success btn-sm">Download</button>
                        <input type="hidden" name="id" id="dockId1" th:value="${doc.id}"/>
                    </form>
                </div>
                <div class="col-lg-3">
                    <form method="POST" th:action="@{/delete}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        <input type="hidden" name="id" id="dockId2" th:value="${doc.id}"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>