<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <h3>Task List</h3>
    <table class="table" th:if="${not #lists.isEmpty(tasks)}">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr data-th-each="task : ${tasks}">
            <td data-th-text="${task.document.name}"></td>
            <td data-th-text="${task.document.description}"></td>
            <td data-th-text="${task.document.status}"></td>
            <td th:if="${task.document.status == 0}">
                <a th:href="${task.document.path}">Download</a>
                <form method="POST" th:action="@{/reject}">
                    <input type="hidden" name="taskId" id="taskId" th:value="${task.id}"/>
                    <button type="submit">Reject</button>
                </form>

                <form method="POST" th:action="@{/approve}">
                    <input type="hidden" name="taskId" id="taskId" th:value="${task.id}"/>
                    <button type="submit">Approve</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>